{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Comment index</h1>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Datetime</th>
                <th>Public</th>
                <th>Comments</th>
{#                <th>Action</th>#}
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.getCreatedBy.getFirstName }}</td>
                    <td>{{ comment.datetime ? comment.datetime|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ comment.public ? 'Yes' : 'No' }}</td>
                    <td>{{ comment.orderComment }}</td>
{#                    <td>#}
{#                        <a class="btn btn-outline-info mr-2" href="{{ path('commentAgent_show', {'id': comment.id}) }}">show</a>#}
{#                        <a class="btn btn-outline-primary" href="{{ path('commentAgent_edit', {'id': comment.id}) }}">edit</a>#}
{#                    </td>#}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('commentAgent_new', {'id': ticketId}) }}">Create new</a>
        {% if is_granted('ROLE_AGENT') %}
            <a class="btn btn-primary" href="{{ path('agent') }}">My Page</a>
        {% elseif is_granted('ROLE_SECOND_AGENT') %}
            <a class="btn btn-primary" href="{{ path('second-agent') }}">My Page</a>
        {% endif %}
    </div>
{% endblock %}
