{% extends 'base.html.twig' %}

{% block title %}Manager Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1>Active agents:</h1>
        <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Profile</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('display_agent', {'id': user.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
            <a class="btn btn-outline-info" href="{{ path('user_index') }}">Edit users</a>
    </div>
{% endblock %}