{% extends 'base.html.twig' %}

{% block title %}Manager Dashboard{% endblock %}

{% block body %}
<div class="container">
    <h1>Active agents:</h1>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Profile</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>
            <a class="btn btn-outline-info" href="{{ path('display_agent', {'id': user.id}) }}">Show</a>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <h1>All active tickets:</h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.datetime ? ticket.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                    {#
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
                    #}
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-info" href="{{ path('user_index') }}">Edit users</a>
    </tr>
    <a class="btn btn-outline-info" href="{{ path('reset_tickets') }}">Reset All tickets</a>
</div>
{% endblock %}