{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <div class="container">
        <h1>Comment</h1>

        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ comment.datetime ? comment.datetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ comment.public ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>

        <div class="mb-2">
{#            <a class="btn btn-outline-primary" href="{{ path('comment_index', {'id': comment.getTicketComment.id}) }}">back to list</a>#}

{#            <a class="btn btn-outline-primary" href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>#}
        </div>

{#        {{ include('comment/_delete_form.html.twig') }}#}
    </div>
{% endblock %}
