{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Open Tickets</h1>

            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Datetime</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.datetime ? ticket.datetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.customerOrder }}</td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('ticketAgent_show', {'id': ticket.id}) }}">Show</a>|
                            <a class="btn btn-outline-secondary" href="{{ path('ticketAgent_assign', {'id': ticket.id}) }}">Assign self</a>
                            {# <a class="btn btn-outline-secondary" href="{{ path('comment_index', {'id': ticket.id}) }}">leave a comment</a>#}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {# <a class="btn btn-primary" href="{{ path('ticket_new') }}">Create new</a>#}

        <div class="row">
            <h1>My Tickets</h1>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Datetime</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in myTickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.datetime ? ticket.datetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.customerOrder }}</td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('ticketAgent_show', {'id': ticket.id}) }}">Show</a>|
                            {#<a class="btn btn-outline-secondary" href="{{ path('ticketAgent_edit', {'id': ticket.id}) }}">Edit</a>|#}
                            <a class="btn btn-outline-secondary" href="{{ path('commentAgent_index', {'id': ticket.id}) }}">Display Comments</a>|
                            <a class="btn btn-outline-secondary" href="{{ path('ticketAgent_close', {'id': ticket.id})}}">Close ticket</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <h1>Closed Tickets</h1>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Datetime</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in closeTickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.datetime ? ticket.datetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.customerOrder }}</td>
                        {#<td>#}
                        {# <a class="btn btn-outline-info" href="{{ path('ticketAgent_show', {'id': ticket.id}) }}">show</a>|#}
                        {# <a class="btn btn-outline-secondary" href="{{ path('ticketAgent_edit', {'id': ticket.id}) }}">edit</a>|#}
                        {# <a class="btn btn-outline-secondary" href="{{ path('commentAgent_index', {'id': ticket.id}) }}">leave a comment</a>#}
                        {#  </td>#}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
